<div class="board">
  <div ng-click="BoardController.addNote()" class="add">
    <i class="material-icons">note_add</i>
  </div>

  <div class="stats">
    <i class="material-icons">show_chart</i>
    <div class="stats__item">
      <span>All toggles: </span>
      <span ng-bind="BoardController.operationsCount" class="stats__toggles"></span>
    </div>
    <div class="stats__item">
      <span>On board: </span>
      <span ng-bind="BoardController.notesCount" class="stats__currently"></span>
    </div>
  </div>

  <textarea id="board__tinymce" title="tinyMCE editor" class="board__tinymce"></textarea>


  <note resize ng-repeat="note in BoardController.notes" note-id="note.id" position="note.position" size="note.size" content="note.content">

  </note>
</div>
